<div>
    <h1>Registation form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <table>
            <tr>
                <td>
                    <label for="userName">Enter userName</label>
                </td>
                <td>
                    <input
                        type="text"
                        id="userName"
                        formControlName="userName"
                        placeholder="Enter userName"
                        class="textBox"
                    /><br />
                    <h5
                        *ngIf="
                            registrationForm.get('userName')?.touched &&
                            registrationForm
                                .get('userName')
                                ?.hasError('required')
                        "
                    >
                        UserName Required
                    </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Enter password</label>
                </td>
                <td>
                    <input
                        type="password"
                        id="password"
                        formControlName="password"
                        placeholder="Enter password"
                        class="textBox"
                    />
                </td>
                <h5
                    *ngIf="
                        registrationForm.get('password')?.touched &&
                        registrationForm.get('password')?.hasError('required')
                    "
                >
                    Password Required
                </h5>
                <h5
                    *ngIf="
                        registrationForm.get('password')?.touched &&
                        registrationForm.get('password')?.hasError('minlength')
                    "
                >
                    Password must be 8 character long
                </h5>
            </tr>
            <tr>
                <td>
                    <label for="cPassword">Enter confirm password</label>
                </td>
                <td>
                    <input
                        type="password"
                        id="cPassword"
                        formControlName="cPassword"
                        placeholder="Enter cPassword"
                        class="textBox"
                    />
                </td>
                <h5
                    *ngIf="
                        registrationForm.get('cPassword')?.touched &&
                        registrationForm.get('cPassword')?.hasError('required')
                    "
                >
                    confirm Password Required
                </h5>
                <h5
                    *ngIf="
                        registrationForm.get('cPassword')?.touched &&
                        registrationForm.get('cPassword')?.hasError('minlength')
                    "
                >
                    confirm Password must be 8 character long
                </h5>
                <h5
                    *ngIf="
                        registrationForm.get('cPassword')?.touched &&
                        registrationForm?.hasError('misMatch')
                    "
                >
                    both password should be same
                </h5>
            </tr>
            <tr>
                <td colspan="2">
                    <h5 *ngIf="hasError">{{ errorMessage }}</h5>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input
                        type="submit"
                        [disabled]="registrationForm.invalid"
                        (click)="register()"
                        value="Signup"
                        class="btn"
                    />
                    <!-- <button routerLink="/conversation">Signup</button> -->
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    I have an account <a routerLink="/login">log-in</a>
                </td>
            </tr>
        </table>
    </form>
</div>
